<div class="text-center">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-signin pt-5">

        <div class="pt-2">
            <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="email">
        </div>
        <div class="pt-2">
            <input type="password" class="form-control" placeholder="password" name="password" [(ngModel)]="password">
        </div>
        <div class="pt-2">
            <button class="btn btn-primary btn-block" type="submit">Entrar</button>
        </div>

    </form>
</div>