
<div class="container pt-5">.

    <div class="text-center" *ngIf="estaCarregando">
        <div class="spinner-border" role="status" ></div>
    </div>
    
    <div *ngIf="!estaCarregando && !erroNoCarregamento">
    <!--diretiva apenas de formulario reativo-->
        <form [formGroup]="contatoForm">
            <div class="form-group">
                <label for="nome">Nome</label>
                <!-- diretiva para associar o campo com a variavel  -->
                <input 
                type="text" class="form-control" 
                id="nome" placeholder="Nome" 
                formControlName="nome"
                [class.is-invalid]="exibeErro('nome')"
                >
            </div>
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input 
                type="text" class="form-control" 
                id="cpf" placeholder="CPF"
                formControlName="cpf"
                [class.is-invalid]="exibeErro('cpf')"
                
                >
            </div>
            <div formGroupName="dadosBancarios">
                <div class="form-group">
                    <label for="banco">Banco</label>
                    <input 
                    type="text" class="form-control" 
                    id="banco" placeholder="Banco"
                    formControlName="banco"
                    [class.is-invalid]="exibeErro('dadosBancarios.banco')"
                    >
                </div>
    
                <div class="form-group">
                    <label for="ag">Agência</label>
                    <input 
                    type="number" class="form-control" 
                    id="ag" placeholder="Agência"
                    formControlName="ag"
                    [class.is-invalid]="exibeErro('dadosBancarios.ag')"
                    >
                </div>
    
                <div class="form-group">
                    <label for="cc">Conta</label>
                    <input 
                    type="text" class="form-control" 
                    id="cc" placeholder="Conta"
                    formControlName="cc"
                    [class.is-invalid]="exibeErro('dadosBancarios.cc')"
                    >
                </div>
            </div>

           
            <button class="btn btn-primary" (click)="onSubmit()">
                {{ estaEditando() ? 'Salvar Contato' : 'Criar Contato'}}
            </button>
        </form>
    </div>
    <br><br><br>
</div>
